body {
	font-family: 'Open Sans', 'Josefin Sans', 'Lato';
}
section {
	clear: both;
}
header {
	background-image: linear-gradient(to bottom, #FFFFFF, #F8F8F8);
	box-shadow: 0 0 5px #000000;
}
h1 {
	color: #023469;
	font-weight: bold;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.first {
	border-left: none;
	margin-left: 0px!important;
}
.last {
	border-right: none;
	margin-right: 0px!important;
}
.left {
	display: block;
	float: left;
}
.right {
	display: block;
	float: right;
}
.row {
	margin: 0;
}
.modal-lg {
	margin-top: 15px; 
}
#barraDeBusca {
    margin: 25px 45px 15px;
    padding: 0;
}
#barraDeBuscaLogado {
	margin: 25px 0 15px;
	padding: 0;
}
#barraDeBusca input, #barraDeBuscaLogado input {
	border: medium none;
    display: block;
    height: 30px;
}
#barraDeBuscaLogado ul#categoriesBox li {
	margin: 15px 16px;
}
input#submitSearch {
	background: url("../img/lupa.png") scroll center center no-repeat transparent;
	display: block;
	height: 40px;
	padding: 2px;
	position: absolute;
	right: 169px;
	top: 0;
	width: 40px;
	z-index: 99;
}
select.selectSexoBusca::-ms-expand,
select.selectLocalBusca::-ms-expand {
    display: none;
}
select.selectSexoBusca {
	width: 58px;
}
select.selectSexoBusca, select.selectLocalBusca {
	height: 40px; 
	-webkit-appearance: none;
}
ul#categoriesBox {
	background-color: #FFFFFF;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 5px 10px 1px #777777;
	padding: 0px;
	position: absolute;
	top: 39px;
	left: 0px;
	z-index: 999;
}
ul#categoriesBox li {
	display: block;
	float: left;
	margin: 15px 28px;
}
ul#categoriesBox li a {
	color: #023469;
	text-align: center;
	padding: 10px 0px;
	display: block;
	width: 110px;
}
ul#categoriesBox li a:hover {
	background-color: #023469;
	border-radius: 5px;
	color: #FFFFFF;
	text-decoration: none;
}
.bootstrap-tagsinput {
	border-radius: 0px;
	height: 40px;
	margin: 0;
	overflow: hidden;
	width: 100%;
}
.bootstrap-tagsinput .tag {
	background-color: #023469;
    display: block;
    float: left;
    font-size: 12px;
    margin: 7px 2px 2px 0;
}

#fazerLogin {
	position: relative;
}
#botaoLogin {
	margin-top: 25px;
}
#botaoLogin a {
	float: right;
	padding: 10px 40px;
}
#formularioLogin, #menuUsuario, #menuUsuarioComLoja {
    background-color: #F8F8F8;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 1px #777777;
    height: auto;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    top: 68px;
    width: 350px;
    z-index: 999;
}
#menuUsuario, #menuUsuarioComLoja {
	right: 0;
	top: 50px;
	width: 200px;
}
#menuUsuarioComLoja {
	min-width: 250px;
}
.trocaDeUsuario {
	border-bottom: 1px solid #AAAAAA;
	clear: both;
	display: block;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 7px; 
	width: 100%;
}
.trocaDeUsuario p {
	display: block;
	float: left;
	width: 70px;
}
.trocaDeUsuario .usuarioOuLoja {
	display: block;
	float: left;
}
.trocaDeUsuario .usuarioOuLoja li {
	display: block;
	margin: 0 3px;
	float: left;
}
.menuUsuario, .menuUsuarioComLoja {
	margin: 0;
	padding: 0;
}
.menuUsuarioComLoja {
	margin-top: 5px;
}
.menuUsuario li, .menuUsuarioComLoja li {
	padding: 7px 0;
}
#formularioLogin img {
	margin: 20px auto;
    width: 150px;
}
#formularioLogin .entrarComFacebook img {
	margin: 0 0 15px 0;
	width: 175px;
}
#formularioLogin .formularioLogin input {
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	height: 35px;
	margin-bottom: 10px;
}
#formularioLogin input#permanecerLogado {
	border-radius: 5px;
	float: left;
}
#formularioLogin label {
	color: #777777;
	float: left;
	font-weight: normal;
	margin-left: 10px;
}
#formularioLogin a#esqueceuSenha {
	color: #C90F0F;
	float: right;
}
#formularioLogin a#esqueceuSenha:hover {
	text-decoration: underline;
}
#formularioLogin .outrasOpcoesLogin {
    display: block;
    float: left;
    margin: 0 30px;
    width: 80%;
}
#formularioLogin .outrasOpcoesLogin a {
	color: #777777;
	display: block;
	float: left;
	padding: 10px 0;
	text-align: center;
	text-decoration: underline;
	width: 100%;
}
#formularioLogin .outrasOpcoesLogin a:hover {
	text-decoration: none;
}

#dadosUsuario {
	margin: 25px 0px 15px;
	padding: 0 25px;
}
#dadosUsuario .meuArmario,
#dadosUsuario .meuPerfil {
	padding: 0 10px;
}
#dadosUsuario .meuPerfil a {
	color: #777777;
}
#dadosUsuario .meuPerfil a:hover {
	color: #3D3D3D;
}
#dadosUsuario .meuPerfil a:hover p {
	text-decoration: underline;
}
.imagemTrocarParaUsuario, .imagemTrocarParaLoja,
#dadosUsuario .meuPerfil .imagemPerfilUsuario {
	border: 1px solid #DEDEDE;
	border-radius: 50%;
	display: block;
	float: left;
	height: 45px;
	overflow: hidden;
	width: 45px;
}
.imagemTrocarParaUsuario, .imagemTrocarParaLoja {
	height: 40px;
	width: 40px;
}
#dadosUsuario .meuPerfil .nomePerfilUsuario {
	padding: 10px 0px;
}
#dadosUsuario .meuPerfil .nomePerfilUsuario p {
	display: block;
    float: left;
    margin: 0 0 0 10px;
}
#dadosUsuario .meuPerfil .nomePerfilUsuario p i {
	padding-left: 5px;
}
footer {
	border-top: 2px solid #CA0E0E;
	margin-top: 20px;
}
#copyright {
	display: block;
	margin: 20px;
	text-align: center;
}

#conteudoTopoHome {
	display: block;
	margin: 30px 0 20px;
}
#conteudoTopoHome h1 {
	color: #023469;
	font-size: 36px;
	text-align: center;
}
#conteudoTopoHome h2 {
	color: #023469;
	font-size: 24px;
	text-align: center;
}
#conteudoTopoHome p {
	font-size: 14px;
	margin-bottom: 20px;
	text-align: center;
}
#conteudoTopoHome p a {
	color: #CA0E0E;
}
#conteudoTopoHome p a:hover {
	color: rgb(170,0,0);
}
#botaoCadastre-se {
    display: block;
    margin: 30px 0 0;
	text-align: center;
}
#botaoCadastre-se a {
	padding: 10px 40px;
}

#slide {
	margin: 35px 0;
	position: relative;
}
#slide .slideControler a {
	display: block;
	position: absolute;
	z-index: 999;
}
#slide .slideControler a#prev {
	left: 0;
	top: 300px;
}
#slide .slideControler a#next {
	right: 0;
	top: 300px;
}
#slide .slideControler a i {
	color: rgba(2, 52, 105, 0.3);
	font-size: 100px;
}
#slide .slideControler a:hover i {
	color: rgba(2, 52, 105, 0.7);
}

.peca {
    border-radius: 7px;
    box-shadow: 0px 0px 3px 0px #AAAAAA;
    display: block;
    height: 360px;
    margin: 10px 16px 20px;
    padding: 0;
    position: relative;
    width: 230px;
}
.peca .imgPeca {
	border-radius: 7px;
}
.peca .topoPeca {
	background-color: rgba(255,255,255,0.5);
	border-radius: 7px 7px 0 0;
	display: block;
	height: 45px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	/*-webkit-filter: blur(5px);
	filter: blur(5px);*/
}
.peca .topoPeca img.logoDaMarca {
	border-radius: 15px;
	display: block;
	float: left;
    margin: 7px 10px;
}
.peca .topoPeca .tituloPeca {
	display: block;
	float: left;
	width: 80%;
}
.peca .topoPeca a h2 {
	color: #3D3D3D;
    display: block;
    float: left;
    font-size: 20px;
    margin: 3px 0 0;
}
.peca .topoPeca a:hover h2 {
	color: #111111;
}
.peca .topoPeca p {
	display: block;
    float: left;
    font-size: 10px;
    left: 51px;
    margin: 0;
    position: absolute;
    top: 25px;
}
.peca .topoPeca .linkAddArmario {
    display: block;
    float: right;
    width: 20%;
}
.peca .topoPeca .linkAddArmario img.addAoArmario {
	border-radius: 7px;
	display: block;
	float: right;
	margin: 7px 10px;
}
.peca .descricaoPeca {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    border-radius: 0 0 7px 7px;
    bottom: 0;
    color: #ffffff;
    display: block;
    height: 200px;
    padding: 65px 10px 0;
    position: absolute;
}
.peca .descricaoPeca .dadosPeca {
	background-color: transparent;
    border-radius: 0 0 7px 7px;
    bottom: 15px;
    position: absolute;
    width: 90%;
}
.peca .descricaoPeca .dadosPeca .localizacaoPeca {
	display: block;
    margin: 0 auto;
}
#botaoLogarFacebook {
    display: block;
    margin: 0 auto 10px;
    width: 220px;
}
.formCadastro, .formAlterarSenha {
	display: block;
	margin: 0 auto;
	max-width: 650px;
}
.formCadastro input, .formCadastro select, .formAlterarSenha input {
	border-radius: 5px;
	border: 1px solid #F0F0F0;
	margin: 10px 0px;
	height: 30px;
}
.formCadastro input#submitBtn, .formCadastro input#saveChanges, .formCadastro input#changePassword, .formCadastro input#cancelChanges,
.formAlterarSenha input#savePasswordChanges, .formAlterarSenha input#cancelPasswordChanges {
	margin: 0 auto;
	height: auto;
	display: block;
	padding: 10px 40px;
	border: none;
	margin-bottom: 20px;
	width: 300px;
}
#CheckNewsletter, #CheckPolicy {
    display: block;
	float: left;
	height: 15px;
	margin: 2px 10px 0 0;
	padding: 0;
	width: auto;
}
.CheckNewsletter, .CheckPolicy {
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}
.formCadastro button {
	background-image: linear-gradient(to bottom, #E70000, #C90F0F);
	border: 2px solid #CA0E0E;
	border-radius: 5px;
	color: #FFFFFF;
	display: block;
	font-weight: bold;
	height: 40px;
	text-align: center;
	text-shadow: none;
	width: 100%;
}
.formCadastro button:hover, .formCadastro button:focus {
	background-image: linear-gradient(to bottom, #C90F0F, #E70000);
	background-position: 0 center;
	border: 2px solid #CA0E0E;
	color: #FFFFFF;
	text-decoration: none;
}

#contentRecoveryPassword {
	display: block;
    float: none;
    margin: 0 auto;	
    text-align: center;
}
#usuarioEncontrado {
	margin: 20px 0;
}
.imagemUsuarioEncontrado {
	border: 1px solid #DEDEDE;
    border-radius: 50px;
    display: block;
    height: 100px;
    margin: 0 auto 10px;
    overflow: hidden;
    width: 100px;
}
.nomeUsuarioEncontrado {
	display: block;
	font: normal 20px 'Arial';
}

#pagina404 {
	display: block;
	float: none;
	margin: 50px auto;
	width: 50%;
}

#topoLoja {
	background-color: #F0F0F0;
	display: block;
	margin-bottom: 30px;
	padding: 0 65px;
}
.logotipoLoja {
	border: 1px solid #DEDEDE;
    border-radius: 50%;
    display: block;
    float: left;
    margin: 20px 40px 20px 0;
    overflow: hidden;
    width: 150px;
}
.linksMidiasSociais {
	display: block;
	margin-top: 5px;
}
.linksMidiasSociais a {
	color: #777777;
	font-size: 40px;
	margin-right: 10px;
}
.linksMidiasSociais a:hover .fa-facebook-square {color: #3C599F;}
.linksMidiasSociais a:hover .fa-twitter-square {color: #58CCFF;}
.linksMidiasSociais a:hover .fa-pinterest-square {color: #CC2127;}
.linksMidiasSociais a:hover .fa-linkedin-square {color: #007BB6;}
.linksMidiasSociais a:hover .fa-google-plus-square {color: #DA2713;}
.linksMidiasSociais a:hover .fa-instagram {color: #E1D4C4;}
.linksMidiasSociais a:hover .fa-youtube-square {color: #B90000;}
.linksMidiasSociais a:hover .fa-tumblr-square {color: #3D5A70;}
.linksMidiasSociais a:hover .fa-blogger {color: #F78D20;}
.linksMidiasSociais a:hover .fa-flickr {color: #EE5196;}

.modal-localizacao-peca {
	overflow: hidden;
}
.modal-localizacao-peca img {
	border-bottom: 2px solid #DEDEDE;
}
#dadosLocalizacaoLoja img {
	border: none;
}
#dadosLocalizacaoLoja p {
	color: #000000;
}
.logoLocalizacaoDaLoja {
	border-radius: 50%;
    display: block;
    float: left;
    height: 150px;
    margin: 30px 20px 30px 50px;
    overflow: hidden;
    width: 150px;
} 
.dadosPecaNaLoja {
	color: #000;
	display: block;
	float: left;
	margin-top: 10px;
}
.curtirComFacebook a {
	display: block;
	float: left;
	margin-right: 10px;
}
.curtirComFacebook p {
    font-size: 16px;
}
.enderecoLocalizacaoLoja {
	margin: 50px;
}
.enderecoLocalizacaoLoja p {
	margin: 5px;
	font-size: 14px;
}
.modalCadastro .modal-header {
	text-align: center;
}
.modalCadastro .modal-footer .btn-lojista {
	float: left;
	width: 45%;
}
.modalCadastro .modal-footer .btn-concluir {
	width: 45%;
}
.tituloPagina {
	margin-bottom: 25px;
}
.tituloPagina h1 {
	text-align: center;
}
.tituloPagina img {
	margin-right: 10px;
}

#navegacaoTopo {
	background-color: #F0F0F0;
	clear: both;
	display: block;
	height: 40px;
}
#navegacaoTopo ul li {
	border-right: 1px solid #000000;
	display: block;
	float: left;
	padding: 10px;
	text-align: center;
	min-width: 200px;
}
button {
	text-decoration: none;
}
button:hover, .btn:focus, .btn:active {
	text-decoration: none;
}
.btnLocalizacaoPeca, .btnRemoverPeca, .btnCurtirPeca {
	border-radius: 50%;
	display: block;
	float: left;
	font-size: 10px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
	width: 60px;
}
.btnLocalHomeSemLog {
	float: none;
	margin: 0 auto;
}
.curtirPecaMeuArmario span {
	color: #FFFFFF;
	float: right;
	font: bold 13px 'Arial';
	margin: 2px 6px 0 0;
	text-align: center;
}
.btnRemoverPeca {
	margin: 0 13px;
}