body {
  font: 14px 'Open Sans';
  background-color: #F0F0F0;
}
header {
  padding: 15px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px #000000;
}
header .row {
  padding: 0px;
}
.busca {
  position: relative;
}
.busca .input-group {
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
}
.busca .input-group-addon {
  padding: 0px;
  border: 0px;
  background-color: #fff;
}
.busca .form-control {
  border-radius: 0px;
  border: 0px;
}
.busca .form-control:focus {
  box-shadow: none;
}
.busca .btn-danger {
  display: block;
}
.frase-topo {
  padding: 30px 0 30px 0;
}
.frase-topo h2 {
  color: #023469;
  font: bold 30px 'Open Sans';
  text-align: center;
  margin: 0 0 20px 0;
}
.frase-topo .btn-danger {
  font: 16px 'Open Sans';
}
.box-usuario-header {
  background-color: #F8F8F8;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 1px #777777;
  height: auto;
  padding: 10px 20px;
  position: absolute;
  right: 0px;
  top: 40px;
  width: 350px;
  z-index: 1100;
  display: none;
}
#formularioLogin img {
  margin: 20px auto;
  width: 150px;
}
#formularioLogin .entrarComFacebook img {
  margin: 0 0 15px 0;
  width: 175px;
}
#formularioLogin .formularioLogin input.form-control {
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  height: 35px;
  margin-bottom: 10px;
}
#formularioLogin .formularioLogin .btn {
  margin-bottom: 10px;
}
#formularioLogin input#permanecerLogado {
  border-radius: 5px;
  float: left;
}
#formularioLogin label {
  color: #777777;
  float: left;
  font-weight: normal;
  margin-left: 10px;
}
#formularioLogin a#esqueceuSenha {
  color: #C90F0F;
  float: right;
}
#formularioLogin .outrasOpcoesLogin {
  display: block;
  float: left;
  margin: 0 30px;
  width: 80%;
}
#formularioLogin .outrasOpcoesLogin a {
  color: #777777;
  display: block;
  float: left;
  padding: 10px 0;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}
.usuario-conectado {
  margin-top: 10px;
  cursor: pointer;
}
.usuario-conectado .nome {
  padding-top: 5px;
}
.usuario-conectado #menu-usuario {
  padding: 0px;
}
.usuario-conectado #menu-usuario .troca-usuarios {
  display: block;
  text-align: center;
  padding: 15px 10px;
  background-color: #fff;
}
.usuario-conectado #menu-usuario .troca-usuarios ul {
  margin: 0;
  padding: 0;
}
.usuario-conectado #menu-usuario .troca-usuarios ul li {
  display: inline-block;
  width: 70px;
  text-align: center;
}
.usuario-conectado #menu-usuario .troca-usuarios ul li img {
  margin: 0 auto 5px auto;
}
.usuario-conectado #menu-usuario .troca-usuarios ul li span {
  display: block;
  font-size: 10px;
}
.usuario-conectado #menu-usuario .links-menu {
  display: block;
  padding: 15px;
}
.usuario-conectado #menu-usuario .links-menu ul {
  margin: 0px;
  padding: 0px;
}
.usuario-conectado #menu-usuario .links-menu ul li {
  display: block;
  margin-bottom: 3px;
}
.bloco-slide {
  display: block;
  margin-bottom: 50px;
}
.produto {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  box-shadow: 0 0 3px #aaaaaa;
  -o-box-shadow: 0 0 3px #aaaaaa;
  -ms-box-shadow: 0 0 3px #aaaaaa;
  -moz-box-shadow: 0 0 3px #aaaaaa;
  -webkit-box-shadow: 0 0 3px #aaaaaa;
}
.produto .header-produto {
  font-size: 12px;
  color: #000;
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 1000;
}
.produto .header-produto img {
  display: block;
  margin: 7px auto;
}
.produto .header-produto h2 {
  font-weight: bold;
  display: block;
  font-size: 20px;
  margin: 3px 0 0;
}
.produto .header-produto h2 a {
  color: #3D3D3D;
  text-decoration: none;
}
.produto .header-produto .item-favorito,
.produto .header-produto .item-removido {
  font-size: 20px;
  color: yellow;
  text-align: center;
  display: block;
  padding-top: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.produto .header-produto .item-removido {
  color: #ca0e0e;
}
.produto .image-produto img {
  margin: 0 auto;
}
.produto .desc-produto {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #ffffff;
  display: block;
  padding: 65px 10px 0;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.produto .desc-produto .price {
  color: #d43f3a;
  font: bold 25px 'Open Sans';
}
.produto .desc-produto .name h3 {
  margin-top: 5px;
  color: #023469;
  font: bold 18px 'Open Sans';
}
.produto .option-produto {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 100px 20px 20px 20px;
  text-align: center;
}
.produto .option-produto .item-circle {
  margin: 10px 5px;
  display: inline-block;
}
.produto:hover .option-produto {
  display: block;
}
.produto.disabled {
  opacity: 0.5;
}
.produto.disabled:hover {
  opacity: 1;
}
.item-circle a {
  display: block;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #41B5D8;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 17px 0 0 0;
}
.item-circle a:hover {
  background-color: #1e7995;
}
.item-circle.favorito a {
  color: #000;
  background-color: yellow;
}
.item-circle.remover a {
  background-color: #ca0e0e;
}
.item-circle.apagar a {
  background-color: #9a0b0b;
}
.carregando {
  padding: 20px;
  display: block;
  text-align: center;
}
.carregando i {
  font-size: 100px;
}
#modal-local {
  color: #666;
}
#modal-local .modal-body {
  padding: 0px;
  overflow: hidden;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#modal-local .close {
  font-size: 30px;
  margin-right: 10px;
}
#modal-local .row {
  padding: 10px 20px;
}
#modal-local h2 {
  margin-top: 0px;
  color: #023469;
}
#modal-local .price {
  color: #d43f3a;
  font: bold 25px 'Open Sans';
}
footer {
  border-top: 2px solid #ca0e0e;
  margin-top: 30px;
}
footer .container {
  padding: 20px 0;
}
footer .container p {
  margin-bottom: 0;
}
.header-loja {
  margin-top: 30px;
  margin-bottom: 30px;
}
.header-loja h1 {
  color: #023469;
  font-weight: bold;
  margin-top: 0px;
}
.midias {
  margin: 0px;
  padding: 0px;
}
.midias li {
  margin: 10px 5px;
  display: inline-block;
}
.midias li a {
  font-size: 40px;
  color: #666;
  text-decoration: none;
}
.midias li.facebook a:hover {
  color: #3C599F;
}
.midias li.twitter a:hover {
  color: #58CCFF;
}
.midias li.pinterest a:hover {
  color: #CC2127;
}
.midias li.linkedin a:hover {
  color: #007BB6;
}
.titulo-interno {
  text-align: center;
  margin: 50px 0;
}
.titulo-interno h2,
.titulo-interno h1 {
  color: #023469;
  margin: 0px;
  font-size: 35px;
  font-weight: bold;
}
.recovery-perfil {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.recovery-perfil img {
  max-width: 200px;
  margin: 0 auto;
}
.recovery-2 {
  display: none;
}
.error-404 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.error-404 img {
  width: 50%;
  margin: 0 auto;
}
.login-facebook {
  display: block;
  margin: 30px 0;
}
.formulario-cadastro .concluir {
  text-align: center;
}
.formulario-cadastro .concluir button {
  margin: 20px auto 0 auto;
}
.faixa-branca {
  display: block;
  background-color: #fff;
}
.etapas .etapa {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.etapas .etapa h3 {
  margin-top: 0px;
  font-weight: bold;
  color: #ca0e0e;
}
.etapas .etapa p {
  margin-bottom: 0px;
}
.etapas .etapa.disabled {
  background-color: #f5f5f5;
  opacity: 0.5;
}
.etapas .etapa.disabled h3 {
  color: #666;
}
.etapas .etapa.active:after {
  position: absolute;
  bottom: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 1px;
  height: 1px;
  border-width: 30px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.etapas .etapa.complete {
  background-color: #fcfcfc;
}
.etapas .etapa.complete h3 {
  color: green;
}
.opcao-loja {
  margin-top: 30px;
}
.opcao-loja a {
  display: block;
  background-color: #fff;
  text-align: center;
  padding: 40px 0;
  color: #000;
  text-decoration: none;
}
.opcao-loja a i {
  display: block;
  font-size: 80px;
  margin-bottom: 15px;
}
.opcao-loja a:hover {
  color: #ca0e0e;
  background-color: #fafafa;
}
.formulario-peca h2 {
  margin-top: 0px;
  font-weight: bold;
  color: #023469;
}
.lista-lojas {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.lista-lojas li {
  display: inline-block;
  width: 180px;
}
.lista-lojas li a {
  padding: 20px 0;
  display: block;
  text-align: center;
  font-weight: bold;
  color: #023469;
  font-size: 18px;
  text-decoration: none;
  position: relative;
}
.lista-lojas li a img {
  margin: 0 auto 10px auto;
}
.lista-lojas li a.active:after {
  position: absolute;
  bottom: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 1px;
  height: 1px;
  border-width: 30px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.formularios-lojas {
  margin-top: 80px;
}
.formularios-lojas .tab {
  margin-bottom: 20px;
}
.formularios-lojas .tab.disabled {
  display: none;
}
.menu-tags {
  display: block;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #fff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 0 0 10px 10px;
  z-index: 1100;
  display: none;
}
.menu-tags .lista-tags {
  text-align: center;
}
.menu-tags .lista-tags ul {
  margin: 0px;
  padding: 0px;
}
.menu-tags .lista-tags ul li {
  display: block;
}
.menu-tags .outras-opcoes {
  text-align: center;
}
.menu-tags .outras-opcoes ul {
  margin: 0px;
  padding: 0px;
}
.menu-tags .outras-opcoes ul li {
  width: 80px;
  margin: 10px;
  display: inline-block;
}
.menu-tags .outras-opcoes ul li a {
  color: #000;
  text-decoration: none;
  display: block;
}
.menu-tags .outras-opcoes ul li a i {
  display: block;
  font-size: 50px;
  margin-bottom: 5px;
}
.menu-tags .outras-opcoes ul li a:hover {
  color: #ca0e0e;
}
span.error {
  color: #fff;
  clear: both;
  width: 200px;
  padding: 5px;
  display: block;
  position: relative;
  border-radius: 3px;
  font: bold 10px 'Arial';
  background-color: #ca0e0e;
}
span.error:before {
  content: "";
  border-width: 8px;
  border-style: solid;
  position: absolute;
  top: -16px;
  left: 10px;
  border-color: transparent transparent #ca0e0e transparent;
}
@media (max-width: 767px) {
  .logo {
    margin-bottom: 20px;
  }
  .logo img {
    margin: 0 auto;
  }
  .usuario-conectado img {
    margin: 0 auto;
  }
}
